img, iframe{
    max-width:280px;height:auto;
} 
img[src*='feedsportal.com'] {
    display: none !important;
}
a[href*='feedsportal.com'] {
    display: none !important;
}
img[width='1'] {
    display: none !important;
}
img[src*='feedsportal.com'] + br {
    display: none !important;
}
a[href*='feedsportal.com'] + br {
    display: none !important;
}
img[width='1'] + br {
    display: none !important;
}
br + br {
    display: none !important;
}